* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.header_background {
  background: url('/static/img/mountains.jpg') no-repeat;
}

.header_home {
  padding-bottom: 157px;
}

.header_post {
  padding-bottom: 113px;
}

.header {
  max-width: 100%;
  background-size: cover;
  padding-top: 24px;
}

.header__row {
  max-width: 980px;
  margin: 0 auto 128px auto;
  padding: 0 20px;
}

.row-left {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav_header {
  font: 12px/1.66 'Oxygen', sans-serif;
  margin-right: 20px;
  gap: 40px;
}

.nav_footer {
  font: 11px/1.66 'Oxygen', sans-serif;
  gap: 20px;
}

.nav__item {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.nav_dark .nav__item {
  color: #2E2E2E;
}

.nav_light .nav__item {
  color: #ffffff;
}

.nav_header .nav__item {
  letter-spacing: 0.6px;
}

.nav_footer .nav__item {
  letter-spacing: 1px;
}

.primary-title {
  font: 50px/1 'Lora', serif;
  letter-spacing: 2px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 21px;
}

.primary-title_dark {
  color: #2E2E2E;
}

.primary-title_light {
  color: #ffffff;
}

.primary-subtitle {
  font: 17px/1.18 'Oxygen', sans-serif;
  color: rgba(255, 255, 255, 0.63);
  text-align: center;
  margin-bottom: 31px;
}

.primary-subtitle_light {
  color: rgba(255, 255, 255, 0.63);
}

.primary-subtitle_dark {
  color: rgba(46, 46, 46, 0.63);
}

.primary-button_center {
  margin: 0 auto;
}

.primary-button {
  display: block;
  padding: 12px 33px;
  font: 13px/1.53 'Oxygen', sans-serif;
  background: #dd783f;
  border: none;
  border-radius: 3px;
  color: #ffffff;
}

.admin-button {
  font: 16px/1.5 'Oxygen', sans-serif;
  padding: 12px 24px;
}

.primary-button_login {
  margin: 0 auto 108px 0;
  font: 16px/1.5 'Oxygen', sans-serif;
}

.main {
  background: #f7f7f7;
  padding-bottom: 108px;
}

.post {
  padding-bottom: 135px;
}

.post__image
{
  object-fit:cover;
  width: 100%;
  max-height: 534px;
  margin-bottom: 140px;
}

.post__text
{
  max-width: 940px;
  margin: 0 auto;
  font: 24px/1.45 'Oxygen', sans-serif;
  color: #101315;
  margin-bottom: 50px;
}

.main-nav {
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 60px;
}

.main-nav__item {
  padding: 22px 0;
  flex-basis: 140px;
  text-align: center;
  text-decoration: none;
  font: 14px/1.42 'Lora', serif;
  color: #768088;
}

.main-section {
  display: flex;
  justify-content: center;
  max-width: 940px;
  margin: 0 auto;
  flex-wrap: wrap;
  row-gap: 24px;
}

.secondary-title {
  width: 100%;
  font: 20px/1.35 'Oxygen', sans-serif;
  text-align: center;
  letter-spacing: 2px;
}

.secondary-title_dark {
  color: #2e2e2e;
}

.secondary-title_large {
  font: 25px/1.2 'Oxygen', sans-serif;
  letter-spacing: 0;
}

.secondary-title_light {
  color: #EFEFEF;
}

.secondary-title::after {
  content: '';
  display: block;
  margin: 0 auto;
  max-width: 188px;
  height: 1px;
  background: #dedede;
  margin-top: 16px;
}

.featured-posts {
  column-gap: 20px;
  margin-bottom: 67px;
}

.featured-posts__card {
  flex-basis: 460px;
}

.large-card {
  cursor: pointer;
  position: relative;
  max-width: 460px;
  border-radius: 3px;
  padding: 158px 20px 15px 20px;
  background-size: contain;
  transition: all 0.2s;
}

.large-card:hover {
  transform: scale(0.99);
}

.large-card__title {
  font: 27px/1.11 'Lora', serif;
  color: #ffffff;
  margin-bottom: 6px;
}

.large-card__category {
  position: absolute;
  left: 20px;
  top: 20px;
  text-transform: uppercase;
  font: 12px/1.1 'Oxygen', sans-serif;
  color: #ffffff;
  background: #dd783f;
  padding: 7px 9px;
  border-radius: 2px;
}

.large-card__subtitle {
  font: 14px/1.78 'Oxygen', sans-serif;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 12px;
}

.large-card__about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 12px/2.91 'Oxygen', sans-serif;
  color: #999999;
}

.about {
  display: flex;
  align-items: center;
  gap: 10px;
  font: 12px/2.9 'Oxygen', sans-serif;
  color: #999999;
}

.about__photo {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.about_transparent {
  color: rgba(255, 255, 255, 0.7);
}

.about__date {
  text-align: end;
  flex: 1 1 auto;
}

.most-recent {
  gap: 24px;
}

.most-recent__card {
  flex-basis: 296px;
}

.small-card {
  background: #ffffff;
  max-width: 296px;
  display: flex;
  flex-direction: column;
}

.small-card__title {
  color: #101315;
  font: 16px/1.31 'Lora', serif;
  margin: 13px 0 0 13px;
}

.small-card__subtitle {
  color: #7A7A7A;
  font: 13px/1.46 'Oxygen', sans-serif;
  margin: 6px 13px 12px 13px;
  flex: 1 1 auto;
}

.about_small-card {
  border-top: 1px solid #EFEFEF;
  padding: 7px 13px;
}

.small-card-image {
  display: block;
}

.footer {
  padding-top: 81px;
  background: url('/static/img/mountains-footer.jpg') no-repeat;
  background-size: cover;
}

.contact-form {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 20px auto 89px auto;
  max-width: 500px;
  font: 12px/1.1 'Roboto', sans-serif;
}

.contact-form__field {
  width: 75%;
  padding: 18px 35px;
  border: none;
  background: #FFFFFF;
  border-radius: 3px 0 0 3px;
}

.contact-form__field::placeholder {
  color: #817F83;
  font: 12px/1.1 'Roboto', sans-serif;
}

.contact-form__button {
  width: 25%;
  border: none;
  background: rgba(255, 255, 255, 0.28);
  border-radius: 0 3px 3px 0;
  color: #F8F8F8;
}

.footer-wrapper {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  background: rgba(35, 47, 56, 0.6);
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 980px;
  margin: 0 auto;
  padding: 31px 20px;
}

.login-background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, rgba(66, 70, 73, 0.4), rgba(66, 70, 73, 0.4)), url("/static/img/login-background.jpg") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  flex-basis: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-subtitle {
  font: 17px/1.18 'Oxygen', sans-serif;
  color: #FFFFFF;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 480px;
  background: #FFFFFF;
  box-shadow: 0px 6px 12px -10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 56px 40px;
}

.login-title {
  font: 34px/1.11 'Lora', serif;
  color: #000000;
  margin-bottom: 50px;
}

.login-logo__img {
  margin-bottom: 16px;
}

.input-label {
  font: 12px/1.66 'Oxygen', sans-serif;
  color: #7A7A7A;
  margin-bottom: 5px;
}

.input-field {
  border-radius: 5px 5px 0px 0px;
  border: none;
  border-bottom: 1px solid #EAEAEA;
  padding: 8px 4px;
  position: relative;
  width: 100%;
  font: 17px/1.18 'Oxygen', sans-serif;
  color: #2E2E2E;
  cursor: url("/static/img/cursor.svg"), pointer;
  margin-bottom: 1px;
}

.error {
  content: '123123123';
  position: absolute;
  width: 100%;
  height: 16px;
  left: 0;
  bottom: -21px;
  color: #E86961;
  font: 12px/1.66 'Oxygen', sans-serif;
}

.input-field:focus {
  border-bottom: 2px solid #2E2E2E;
  margin-bottom: 0;
}

.login-input-password {
  position: relative;
  width: 100%;
}

.login-input-password-toggle {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 4px;
  bottom: 7px;
  background: url('/static/img/eye.svg');
  cursor: url("/static/img/cursor-pointer.svg"), pointer;
}

.visible-password {
  background: url('/static/img/eye-off.svg');
}

.admin-header {
  background: #2E2E2E;
  padding: 24px 0;
}

.admin-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1180px;
  margin: 0 auto;
}

.admin-header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.admin-header-avatar {
  border-radius: 50%;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
}

.admin-main {
  background: #F7F7F7;
  padding: 64px 0 64px 0;
}

.admin-title {
  font: 34px/1.11 'Lora', serif;
  color: #000000;
  margin-bottom: 8px;
}

.admin-subtitle {
  color: rgba(46, 46, 46, 0.63);
  font: 14px/1.78 'Oxygen', sans-serif;
}

.admin-main__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.main-block {
  padding: 40px 40px 16px 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 6px 12px -10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.main-info {
  display: flex;
  justify-content: space-between;
  column-gap: 100px;
}

.admin-subtitle-block {
  color: #000000;
  font: 27px/1.11 'Lora', serif;
  margin-bottom: 40px;
}

.main-info__form {
  max-width: 50%;
}

.upload-photo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.upload-photo__preview {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.img-empty {
  border: 1px dashed #D3D3D3;
}

.new-upload,
.remove-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.preview-img-camera {
  background: url('/static/img/camera.svg') #f7f7f7  no-repeat center;
}

.upload-photo__text {
  font: 16px/1.5 'Oxygen', sans-serif;
  color: #2E2E2E;
}

.upload-photo__text_red {
  font: 16px/1.5 'Oxygen', sans-serif;
  color: #E86961;
}

.hidden {
  display: none;
}

.upload-info {
  margin-top: 12px;
  color: #999999;
  font: 12px/1.66 'Oxygen', sans-serif;
}

.field {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.preview-title {
  color: #7A7A7A;
  font: 14px/1.78 'Oxygen', sans-serif;
}

.main-info__preview {
  width: 100%;
  padding-top: 110px;
}

.article-preview {
  margin-top: 16px;
  position: relative;
  width: 440px;
  height: 385px;
}

.large-device-preview {
  width: 100%;
  height: 100%;
  border: 1px solid #D3D3D3;
  border-radius: 30px 0 0 0;
  background-color: #FFFFFF;
  padding: 32px 16px 0;
}

.small-card-preview {
  width: 100%;
  height: 100%;
  border: 1px solid #D3D3D3;
  border-radius: 10px 0 0 0;
  background-color: #FFFFFF;
  padding: 32px 16px 0;
}

.large-device-preview__screen {
  width: 100%;
  height: 100%;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.small-card-preview__screen {
  width: 100%;
  height: 100%;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.shadow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-shadow: -40px -40px 40px 0px rgba(255, 255, 255, 1) inset;
  -moz-box-shadow: -40px -40px 40px 0px rgba(255, 255, 255, 1) inset;
  box-shadow: -40px -40px 40px 0px rgba(255, 255, 255, 1) inset;
  width: 100%;
  height: 100%;
}

.screen-header {
  width: 100%;
  display: flex;
  gap: 3px;
  padding: 9px;
  border-bottom: 1px solid #EAEAEA;
  margin-bottom: 36px;
}

.large-device-preview__title {
  text-align: center;
  color: #2E2E2E;
  font: 20px/1.35 'Oxygen', sans-serif;
  margin-bottom: 4px;
}

.large-device-preview__subtitle {
  text-align: center;
  color: rgba(46, 46, 46, 0.63);
  font: 10px/1.2 'Oxygen', sans-serif;
  margin-bottom: 36px;
  max-width: 100%;
  word-wrap: break-word;
  padding: 0 20px;
}

.large-device-preview__preview-img {
  width: 100%;
  height: 160px;
}

.preview-img {
  background: #f7f7f7;
}

.post-card-preview {
  margin-top: 16px;
  position: relative;
  width: 440px;
  height: 360px;
}

.small-card-preview__card {
  max-width: 296px;
  border: 1px solid #EAEAEA;
}

.small-card-preview-image {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #EAEAEA;
}

.small-card-preview_about-photo {
  border-radius: 50%;
  width: 26px;
  height: 26px;
}

.small-card-preview__title {
  color: #101315;
  font: 16px/1.31 'Lora', serif;
  margin: 14px 13px 0 13px;
}

.small-card-preview__subtitle {
  color: #7A7A7A;
  font: 13px/1.46 'Oxygen', sans-serif;
  margin: 7px 13px 13px 13px;
  max-width: 100%;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 38px;
}

.content {
  margin-top: 16px;
}

.text-area {
  max-width: 940px;
  height: 160px;
}

.text-area::placeholder {
  color: #999999;
  font: 16px/1.5 'Oxygen', sans-serif;
}

.fill {
  background: #F7F7F7;
  border-bottom: solid 1px #000;
}

.incorrect {
  background: #F7F7F7;
  border-bottom: 1px solid #E86961;
}

.preview-post-img_large {
  width: 560px;
  height: 160px;
}

.preview-post-img_small {
  width: 296px;
  height: 150px;
}

.img-empty_large {
  background: #F7f7f7 url('/static/img/large-hero-img.svg') no-repeat;
  background-size: contain;
}

.img-empty_small {
  background: #F7f7f7 url('/static/img/small-hero-img.svg') no-repeat;
  background-size: contain;
}

.remove-upload-block {
  margin-top: 12px;
  display: none;
  align-items: center;
  gap: 17px;
}